body
{
    background: #1e1f24;
    text-align: center;
    font-family: cursive;
    color: rgb(14, 74, 85);
    font-size: 16px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd  ;
}

#cabecera
{
    background: url('../imagenes/hammer.jpg') no-repeat center center cover;
    color: rgb(186, 240, 80);
    font-weight: bold;
    font-size: 15px;
    padding: 0.5em 0 0.5em 2em;
    margin: 0;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
}
#cabecera #logo
{
    width: 20px
}

#container h1
{
    font-size: 20xp;

}

#post
{
    padding: 1em;
    background: wheat;
}

#cabecera #tagline
{
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#footer
{
    background: #777;
    color: palegreen;
    text-align: center;
    padding: 0.5em;
}